nome {
	color: #153e63;
	font-size: 11px;
	font-weight: bold;
}

descricao {
	font-size: 12px;
}

info {
	position: absolute;
    right:    -5px;
    bottom:   -5px;
}

nome-principal {
	color: #000000;
	font-size: 25px;
	font-weight: bold;
}

nome-periodo {
	color: #153e63;
	font-size: 12px;
	font-weight: bold;
}

nome-ajuda {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

nome-erro {
	color: #FF0000;
	font-size: 16px;
	font-weight: bold;
}

.body-back {
	background-color: #153e63;
}

.wrapper {
	font-family: arial;
	max-width: 1300px;
	margin : auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

#content {
	padding-top: 80px;
	padding-bottom: 30px;
}

.titulo {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

#colunas {
	text-align: center;
	margin: auto;
	margin-top:50px;
	margin-bottom:10px;
	height: auto;
	width: 1280px; 
	display: inherit;
	border-radius: 10px;
}

.coluna_errada {
	background-color: #ffd5d5;
	float: left;
	height: auto;
	width: 148px;
	margin-left: 10.5px;
	margin-top: 10px;
	border-radius: 10px;
	padding-top: 2px;
}

.coluna {
	background-color: #d8e2eb;
	float: left;
	height: auto;
	width: 148px;
	margin-left: 10.5px;
	margin-top: 10px;
	border-radius: 10px;
	padding-top: 2px;
}


.user {
	background-color: #e5eef6;
	float: left;
	height: auto;
	text-align: left;
	width: 100%;
	margin-top: 20px;
	border-radius: 3px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}

#disciplinas {
	float: left;
	margin: auto;
    margin-top:50px;
	width: 1280px;
	display: inherit;
}

.disciplina {
	background-color: #FFFFFF;
	margin:auto;
	margin-top:6px;
	width: 138px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.disciplina_incorreta {
	background-color: #e76363;
	margin:auto;
	margin-top:6px;
	width: 138px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color:white;
}

.disciplina:hover {
	background-color: #b2cfe9;
}
.disciplina_incorreta:hover {
	background-color: #cc4343;
}

.ofertada {
	border-color: #d8e2eb;
	border-style: solid;
	border-width: medium;
}

.float-left {
	float: left;
	margin-left: 10px;	
}
