@(periodos: List[model.Periodo], disciplinas_ofertadas: List[model.Disciplina])
@import helper._
@main("Início") {
	<header>
		<div class="hero-unit">
		    <h1>SocialGrid</h1>
		    <p>Ciência da Computação - Universidade Federal de Campina Grande</p>
		    <button type="button" class="btn" onclick="location.href = '@routes.Application.logout()';">Sair</button>
		</div>
	</header>
	<div class="wrapper" style="height: 100%;">
    <div id="colunas">
        @for((periodo, i) <- periodos.zipWithIndex) {
            <div id="periodo_@(i + 1)" class="coluna">
            <nome-periodo>Período @(1 + periodos.indexOf(periodo))</nome-periodo>
            @for(disciplina <- periodo.getDisciplinas()){
                <div class="disciplina" id="@disciplina.getNome()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() créditos</descricao>
                </div>
            }
            </br>
            </div>
        }
    </div>
    <br/>
        <div id="disciplinas">
        <div class="titulo">
            <nome-principal>Disciplinas Ofertadas</nome-principal>
        </div>
        @for(disciplina <- disciplinas_ofertadas) {
                <div class="disciplina float-left" id="@disciplina.getNome()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() créditos</descricao>
                </div>
        }
    </div>
    </div>
}
