@(message: String)

@main("Welcome to Play") {

	<!DOCTYPE html>
	<html>
	  <head>
		<div class="hero-unit">
		  <h1>SocialGrid</h1>
		  <p>Curso de Ciência da Computação - UFCG</p>
		  <p>
		    <a class="btn btn-primary btn-large">
		      E este é apenas um botão aleatório de teste
		    </a>
		  </p>
		</div>
	  </head>
	  <body>

		<div class="navbar navbar-inverse">
		  <div class="navbar-inner">
		    <a class="brand" href="#">SocialGrid</a>
		    <ul class="nav">
		      <li class="active"><a href="#">Início</a></li>
		      <li><a href="#">Minha Grade</a></li>
		      <li><a href="#">Disciplinas</a></li>
		    </ul>
		  </div>
		</div>
		
	  </body>
	</html>
    

}
