@import helper._
@main("Identificação") {
			<div class="hero-unit">
			    <h1>SocialGrid</h1>
			    <p>Ciência da Computação - Universidade Federal de Campina Grande</p>
			</div>
			<div class="form-actions">
			<form class="form-horizontal" action="@routes.Application.login()" method="post">
			  <div class="control-group">
			    <label class="control-label" for="email">E-mail</label>
			    <div class="controls">
			      <input type="text" id="email" name="email" placeholder="E-mail">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="senha">Senha</label>
			    <div class="controls">
			      <input type="password" id="senha" name="senha" placeholder="Senha">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
				  <button type="button" class="btn" onclick="location.href = '@routes.Application.cadastro()';">Cadastrar</button>
				  <button type="submit" class="btn btn-primary">Entrar</button>
				</div>
			    </div>
			  </div>
			</form>
}