@(disciplina: model.Disciplina)
@import helper._

<script src="@routes.Assets.at("javascripts/jquery.MetaData.js")" type="text/javascript" language="javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.rating.js")" type="text/javascript" language="javascript"></script>
<link href="@routes.Assets.at("stylesheets/jquery.rating.css")" type="text/css" rel="stylesheet"/>

<script>
$.ready(preencherDicas());

function preencherDicas() {
	$.get("@routes.Application.carregarDicas(disciplina.codigo)", function(data) {
		$('#dicas_disciplina').attr("align", "left");
		$('#dicas_disciplina').html(data);
		$('#adicionar_dica').removeAttr("disabled");
		$('#texto_dica').val("");	
		$('#texto_dica').removeAttr("disabled");		
	});
}

$('#adicionar_dica').click(function() {
	$('#adicionar_dica').attr("disabled", "disabled");
	$('#texto_dica').attr("disabled", "disabled");
	$('#dicas_disciplina').attr("align", "center");
	$('#dicas_disciplina').html('<img src="@routes.Assets.at("images/ajax-loader.gif")" />');
	
	var disciplinaObj = {codigo: @disciplina.codigo, texto: $("#texto_dica").val()};
    $.post( "@routes.Application.adicionarDica()", disciplinaObj, function(result) {
        preencherDicas();
    });
});
</script>

<div class="modal-header" id="myModalHeader">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">@disciplina.getNome()</h3>
</div>
<div class="modal-body" id="myModalBody">

    <ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#dicas" data-toggle="tab">Dicas</a></li>
		<li><a href="#dados_disciplina" data-toggle="tab">Dados da disciplina</a></li>
	</ul>

	<div id="myTabContent" class="tab-content">
    	<div class="tab-pane fade in active" id="dicas">
    		<div id="dicas_disciplina">
    		</div>
        	<div id="nova_dica">
	        	<p>
	        		Envie uma dica<br />
	        		<textarea rows="3" style="width:97%; max-width: 97%" id="texto_dica"/><br />
	        		<button class="btn btn-mini pull-right" id="adicionar_dica">Enviar</button>
	        	</p>
	        </div>
		</div>
        <div class="tab-pane fade" id="dados_disciplina">
        	<p>
				Código: @disciplina.codigo<br />
				Nome: @disciplina.getNome()<br />
				Quantidade de créditos: @disciplina.getCreditos()<br />
				Carga horária:
			</p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<script>
		$(function(){
			$.fn.rating.options.cancel = 'Limpar';
			$('.dificuldade-star').rating({
				callback: function(value, link){
					var dificuldade = this.title;

					if (typeof dificuldade == 'undefined') {
						dificuldade = 0;
					}
					
					alert(dificuldade);
				}
			});
		});
	</script>
	<div class="pull-left">
		  <table>
	     <tr>
	      <td valign="middle">Dificuldade:</td>
	      <td valign="middle">
		<input name="star1" type="radio" class="dificuldade-star" value="" title="1" />
		<input name="star1" type="radio" class="dificuldade-star" value="" title="2" />
		<input name="star1" type="radio" class="dificuldade-star" value="" title="3" />
		<input name="star1" type="radio" class="dificuldade-star" value="" title="4" />
		<input name="star1" type="radio" class="dificuldade-star" value="" title="5"/>
	      </td>
	     </tr>
	    </table>
	</div>
	<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
	<!-- <button class="btn btn-primary">Save changes</button>  -->
</div>