@(periodos: List[model.Periodo], disciplinas_ofertadas: List[model.Disciplina])
@import helper._
@main("Início") {
<script>
    $(function() {
        $(".disciplina").draggable({
            revert: "invalid"
        });

        $( ".coluna" ).droppable({
            drop: function( event, ui ) {
                var disciplina = ui.draggable[0].id;
            	var periodo = event.target.id.replace('periodo_', '');
            
                location.href = '/aplicacao/alocarDisciplina/' + disciplina + '/' + periodo;
            }
        });

        $( "#disciplinas" ).droppable({
            drop: function( event, ui ) {
                var disciplina = ui.draggable[0].id;
				var transfere = window.confirm("Ao desalocar esta disciplina você estará desalocando" +
				"\nas disciplinas dela dependentes");
				if (transfere) {
					location.href = '/aplicacao/desalocarDisciplina/' + disciplina;
				}
				else {
					location.href = '/'
				}
            }
        });
    });
</script>
	<header>
		<div class="hero-unit">
		    <h1>SocialGrid</h1>
		    <p>Ciência da Computação - Universidade Federal de Campina Grande</p>
		    <button type="button" class="btn" onclick="location.href = '@routes.Autenticacao.logout()';">Sair</button>
		</div>
	</header>
	<div class="wrapper" style="height: 100%;">
    	<div id="colunas">
    	<div class="titulo">
            <h1>Meu Plano</h1>
        </div>
        @for((periodo, i) <- periodos.zipWithIndex) {
            <div id="periodo_@(i + 1)" class="coluna">
            <nome-periodo>Período @(1 + periodos.indexOf(periodo))</nome-periodo>
            @for(disciplina <- periodo.getDisciplinas()){
                <div class="disciplina" id="@disciplina.getNome()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() créditos</descricao>
                </div>
            }
            </br>
            </div>
        }
    </div>
    <br/>
        <div id="disciplinas">
        <div class="titulo">
            <h1>Disciplinas Ofertadas</h1>
        </div>
        @for(disciplina <- disciplinas_ofertadas) {
                <div class="ofertada disciplina float-left" id="@disciplina.getNome()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() créditos</descricao>
                </div>
        }
    </div>
    </div>
}
