@(periodos: List[model.Periodo], disciplinas_ofertadas: List[model.Disciplina])
@import helper._
@main("Início") {
<script>
$(function() {
    $("info").click(function() {
        var valCodigo = this.getAttribute("name");
        
    	$('#myModal').attr("align", "center");
    	$('#myModal').html('<img src="@routes.Assets.at("images/ajax-loader.gif")" />');
    	$('#myModal').modal();
    	
    	var disciplinaObj = {codigo: valCodigo};
    	$.post( "@routes.Application.verDisciplina()", disciplinaObj, function(result) {
			$('#myModal').html(result);
		})
		.fail(function() {
    		alert( "Ocorreu um erro inesperado. :(" );
  		});
    	
    	
    });

    $(".disciplina").draggable({
        revert: "invalid"
    });

    $( ".coluna" ).droppable({
        drop: function( event, ui ) {
            var disciplina = ui.draggable[0].id;
        	var periodo = event.target.id.replace('periodo_', '');
        
            location.href = '/aplicacao/alocarDisciplina/' + disciplina + '/' + periodo;
        }
    });

    $( "#disciplinas" ).droppable({
        drop: function( event, ui ) {
            var disciplina = ui.draggable[0].id;
			var transfere = window.confirm("Ao desalocar esta disciplina você estará desalocando" +
			"\nas disciplinas dela dependentes");
			if (transfere) {
				location.href = '/aplicacao/desalocarDisciplina/' + disciplina;
			}
			else {
				location.href = '/'
			}
        }
    });
});
</script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="padding-left: 40px; padding-right: 40px">
    <a class="brand" href="#">SocialGrid</a>
    <ul class="nav">
      <li><a href="#meu_plano">Meu Plano</a></li>
      <li><a href="#disciplinas_ofertadas">Disciplinas Ofertadas</a></li>
    </ul>
    <form class="navbar-form pull-right">
      <button type="button" class="btn" onclick="location.href = '@routes.Autenticacao.logout()';">Sair</button>
    </form>
  </div>
</div>
<!-- 
<div class="navbar navbar-fixed-bottom">
bottom
</div>
 -->
	<div class="wrapper" style="height: 100%;">
    	<div id="colunas">
    	<div class="titulo" id="meu_plano">
            <h1>Meu Plano</h1>
        </div>
        @for((periodo, i) <- periodos.zipWithIndex) {
            <div id="periodo_@(i + 1)" class="coluna">
            <nome-periodo>Período @(1 + periodos.indexOf(periodo))</nome-periodo>
            @for(disciplina <- periodo.getDisciplinas()){
                <div class="disciplina" id="@disciplina.getNome()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() créditos</descricao>
                    <info name="@disciplina.codigo"><img src="@routes.Assets.at("images/info_small.png")" /></info>
                </div>
            }
            </br>
            </div>
        }
    </div>
    <br/>
        <div id="disciplinas" style="padding-bottom: 50px">
        <div class="titulo" id="disciplinas_ofertadas">
            <h1>Disciplinas Ofertadas</h1>
        </div>
        @for(disciplina <- disciplinas_ofertadas) {
                <div class="ofertada disciplina float-left" id="@disciplina.getNome()">
                    <nome>@disciplina.getNome()</nome><br/>
                    <descricao>@disciplina.getCreditos() créditos</descricao>
                    <info name="@disciplina.codigo"><img src="@routes.Assets.at("images/info_small.png")" /></info>
                </div>
        }
    </div>
    </div>
    
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
}